<div class="box chartBox">
  <h1 class="title has-text-centered">{{DC.TEMPERATURE_DATA_LABEL}}</h1>
  <div style="display: block">
    <canvas mdbChart
            [chartType]="CC.LINE_CHART_TYPE"
            [datasets]="temperatureDataSets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="temperatureChartOption"
            [legend]="true">
    </canvas>
  </div>
</div>

<div class="box chartBox">
  <h1 class="title has-text-centered">{{DC.HUMIDITY_WATER_DATA_LABEL}}</h1>
  <div style="display: block">
    <canvas mdbChart
            [chartType]="CC.LINE_CHART_TYPE"
            [datasets]="percentageDataSets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="percentageChartOption"
            [legend]="true">
    </canvas>
  </div>
</div>
