<div style='min-height:800px'>

  <mat-tab-group mat-align-tabs="center">

    <mat-tab label="{{DC.DATA_PREPARING_TITLE}}">
      <br>
      <div class="container">
        <p class="title has-text-centered">{{DC.DATA_PREPARING_TITLE}}</p>
        <app-upload-file></app-upload-file>
        <br><br>
      </div>
    </mat-tab>

    <mat-tab label="{{DC.DATASET_MANAGEMENT}}">
      <br>
      <div class="container">
        <p class="title has-text-centered">{{DC.DATASET_MANAGEMENT}}</p>
        <app-data-paginate-list></app-data-paginate-list>
        <br><br>
      </div>
    </mat-tab>

    <mat-tab label="{{DC.HISTORICAL_SECTION_TITLE}}">
      <br>
      <div class="container">
        <p class="title has-text-centered">{{DC.HISTORICAL_SECTION_TITLE}}</p>
        <app-date-picker></app-date-picker>
        <br><br>
      </div>
    </mat-tab>

  </mat-tab-group>
</div>

