@import "../../../../../node_modules/ng-pick-datetime/assets/style/picker.min.css";

mat-slider {
  width: 100%;
}

button {
  background-color: #e3165b;
  color: white;
}

button:disabled {
  background-color: #cccccc;
}
