<section class="is-half-desktop">
  <header class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item"> Weather Data Analysis </a>
        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
           aria-expanded="false" data-target="navbarMenuHeroC">
          <span> </span>
          <span> </span>
          <span> </span>
        </a>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu" #navMenu>
        <div class="navbar-end">
          <a class="navbar-item">Documentation</a>
        </div>
      </div>
    </div>
  </header>
  <app-title></app-title>
</section>


