<br><br>
<div class="box dateTimeConfigBox">
  <button (click)="setLastDayRange()" mdbBtn> {{DC.LAST_DAY_LABEL}} </button>
  <button (click)="setLastWeekRange()" mdbBtn> {{DC.LAST_WEEK_LABEL}} </button>
  <button (click)="setLastMonthRange()" mdbBtn> {{DC.LAST_MONTH_LABEL}} </button>
  <button (click)="setLast6Months()" mdbBtn> {{DC.LAST_6_MONTHS_LABEL}} </button>
  <br><br>
  <h1 class="is-2">{{DC.START_DATE_LABEL}}</h1>

  <p-calendar [maxDate]="maxDate"
              [readonlyInput]="true"
              [(ngModel)]="pickedStartDate"
              [showTime]="true"
              (ngModelChange)="onDateChange()">
  </p-calendar>
  <br><br>
  <h1 class="is-2">{{DC.END_DATE_LABEL}}</h1>

  <p-calendar [maxDate]="maxDate"
              [readonlyInput]="true"
              [(ngModel)]="pickedEndDate"
              [showTime]="true"
              [disabled]="!pickedStartDate"
              (ngModelChange)="onDateChange()">
  </p-calendar>

  <br>
  <h1 *ngIf="!isSelectedDateValid()" class="invalidInfo"> {{DC.INVALID_DATE_INFO}} </h1>
  <br>

  <h1 class="is-2">{{DC.TIME_INTERVAL_LABEL}}</h1>

  <mat-form-field>
    <mat-select [(value)]="selectedIntervalValue" (valueChange)="onIntervalChange()">
      <mat-option *ngFor="let i of DC.TIME_INTERVAL_SET" [value]="i.minutes">{{i.displayValue}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>
<app-line-chart [historicalDataInLineChart]="historicalDataInDatePicker"></app-line-chart>
<br>
